# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# SMTP (Email) configuration
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_password"
SMTP_FROM="your_sender_email@example.com"
